.dashboard-container {
  display: flex;
  height: 100vh;
  padding-top: 70px;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background: black;
  color: white;
  border: 3px solid black;
  transition: background 1s linear 0ms;
  transition: color 500ms linear 0ms;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.logout-button:hover {
  color: #333;
  background-color: white;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.verify-email-button,
.reset-password-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 3px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.verify-email-button:hover,
.reset-password-button:hover {
  background: #0056b3;
}

.user-settings-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.user-settings-form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #333;
}

.user-settings-form input,
.user-settings-form select {
  padding: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 900px;
}
