.dashboard-container {
  display: flex;
  height: 100vh;
  padding-top: 70px;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background: #3adde9;
  color: white;
  transition: background 1s linear 0ms;
  transition: color 500ms linear 0ms;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #2cd4e0;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.verify-email-button,
.reset-password-button {
  background: #e72113;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 3px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.verify-email-button:hover,
.reset-password-button:hover {
  background: #ee601e;
}

.user-settings-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.user-settings-form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #333;
}

.user-settings-form input,
.user-settings-form select {
  padding: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 900px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-card h2 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

.post-card p {
  margin: 5px 0;
  color: #666;
}

.post-card button {
  padding: 10px 15px;
  background-color: #fc3636;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-card button:hover {
  background-color: #e72113;
}
