.landing-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e0f2f1;
}

.left-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campus-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  animation: fadeIn 2s ease-in-out;
}

.right-side {
  flex: 1;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.red-car {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  animation: moveCar 4s linear forwards;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: slideIn 1s ease-in-out;
  color: #212121;
  font-weight: bold;
}

.ride-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ride-form label {
  margin: 10px 0 5px;
  color: #212121;
  font-weight: bold;
}

.ride-form input {
  padding: 8px;
  margin-bottom: 15px;
  width: 70%;
  max-width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  font-size: 14px;
}

.ride-form input:focus {
  outline: none;
  border-color: #e18484;
}

.ride-form button {
  padding: 8px 16px;
  background-color: #fc3636;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.ride-form button:hover {
  background-color: #f86666;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveCar {
  0% {
    left: 0;
    opacity: 1;
  }
  80% {
    left: 80%;
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0;
  }
}
